.header-container {
  height: 100vh;
  background-color: var(--background-color);
}
.nav {
  padding: 20px;
  display: flex;
  color: var(--font-primary-color);
  gap: 30px;
  justify-content: space-between;
  font-size: 36px;
}
